@font-face {
    font-family: caviarDream;
    src: url(../assets/fonts/CaviarDreams.ttf);
}

@font-face {
    font-family: caviarBold;
    src: url(../assets/fonts/CaviarDreams_Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: caviarDream,Arial, Helvetica, sans-serif;
    font-size: 10px;
}

:root{
    --var--white1:#FFFFFF;

    --var--pink1:#E58C83;
    --var--pink2: #C66558;

    --var--green1:#91BCBA;
    --var--green2:#81B9B7;
    --var--green3: #489997;
}

.bt-verde{
    background-color: var(--var--green1);
    color: var(--var--white1);
    border: none;
    font-size: 2rem;
    border-radius: 2rem;
    padding: 1.5rem 4rem 1.5rem 4rem;
    text-align: center ;
    
    transition: all ease 0.5s;
}

.bt-verde:hover{
    background-color: var(--var--green3);
}

.bt-rosa{

    background-color: var(--var--pink1);
    color: var(--var--white1);
    border: none;
    font-size: 2rem;
    border-radius: 2rem;
    padding: 1.5rem 4rem 1.5rem 4rem;
    text-align: center ;

    transition: all ease 0.5s;
}

.bat-rosa{
    background-color: var(--var--pink2);
}
 
/* ----------------------Header----------------------  */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--var--white1);
    background-image: url(../assets/images/beginListra.png);
    background-repeat: repeat;
    background-size: cover;
}

#logoPinheiro{
    margin-top: 1rem;
    width: 12rem;
    margin-top: 4rem;
    margin-left: 4rem;
    cursor: pointer;
    max-width: 25rem;
}
#iconMenu {
    width: 3rem;
    margin-right: 4rem;
    cursor: pointer;
}


/* ----------------------Begin Screen----------------------  */

.beginScreen{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--var--white1);
    position: relative;

    background-image: url(../assets/images/beginListra.png);
    background-repeat: repeat;
    background-size: cover;
}

.beginConfete{
    width: 70rem;
    margin-top: 5rem;
}

.contaneinerCakes{
    position:relative;
    right: 10rem;
   
}

.perfectPlacePs{
    position: absolute;
    top: 0rem;
    left: -25rem;
    top: -7rem;
    z-index: 1;
}

.perfectPlace{
    color: var(--var--pink1);
    font-size: 2.5rem;
    text-align: justify;
}

.perfectPlace > span{
    color: var(--var--green3);
    font-weight: 900;
    font-size: 2.5rem;
}

.cakes{
    position: relative;
    right: -5rem;
}

.cakeMenu{
    background-color: var(--var--green3);
    display: inline-block;
    font-size: 2rem;
    color: white;
    padding: 1rem 10rem 1rem 4rem;
    border-radius: 10rem;
    cursor: pointer;

    position: absolute;
    left: -18rem;
    top: 14rem;

    transition: all ease 0.5s;
}

.cakeMenu:hover{
    background-color: var(--var--green1);
}

.cakeBG{
    width: 25rem;
}

.whiteCake{
    width: 25rem;
    border-radius: 50%;
    position: absolute;
    left: -1rem;
    top: -0.5rem;
}


/* ----------------------About----------------------  */

.about{
position: relative;
}

.aboutBG{
    z-index: -1;
    width: 100%;
    height: 90rem;
}

.conteudoZindex1{
    z-index: 1;
    position: absolute;
    top: 0;
    width: 100%;
}

.marginT0{
    margin-top: 6rem;
}

.marginT1{
    margin-top: 3rem;
}

.dFlexEvenly{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.alignCenter{
    text-align: center;
}

.imgCarousel{
    max-width: 22rem;
    border-radius: 0.5rem;
}

.leticia{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: yellow; */
}

.leticiaIMG{
    width: 35rem;
    border-radius: 50%;
}

.verde{
    color: var(--var--green3);
    font-weight: 900;
    margin-bottom: 1.5rem;
}

.leticiaFlex{
    /* background-color: green; */

    text-align: center;
   
}

.textoFlex{
    /* background-color: blue; */
    width: 50%;
   font-weight: 900;
}

.textoFlex > p{
    font-size: 1.5rem;
    color: var(--var--white1);
}



/* ----------------------Cake's Menu----------------------  */

.cakesMenu{
    position: relative;
    background-image: url(../assets/images/beginListra.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.confenteEnd{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    transform: translateY(-60%);
}

.confenteStart{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    transform: translateY(60);
}

.confetesMenu{
    width: 30rem;
}

.carouselmenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.menuPhoto{
    width: 50rem;
}
