@font-face {
    font-family: caviarDream;
    src: url(../assets/fonts/CaviarDreams.ttf);
}

@font-face {
    font-family: caviarBold;
    src: url(../assets/fonts/CaviarDreams_Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: caviarDream,Arial, Helvetica, sans-serif;
    font-size: 10px;
}

:root{
    --var--white1:#FFFFFF;

    --var--pink1:#E58C83;
    --var--pink2: #C66558;

    --var--green1:#91BCBA;
    --var--green2:#81B9B7;
    --var--green3: #489997;
}
 
/* ----------------------Header----------------------  */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--var--white1);
}

#logoPinheiro{
    margin-top: 1rem;
    width: 12rem;
    margin-top: 4rem;
    margin-left: 4rem;
}
#iconMenu {
    width: 3rem;
    margin-right: 4rem;
}


/* ----------------------Begin Screen----------------------  */

.beginScreen{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--var--white1);
    position: relative;
}

.beginConfete{
    width: 70rem;
    margin-top: 10rem;
}

.perfectPlace{
    color: var(--var--pink1);
}

.perfectPlace > span{
    color: var(--var--green3);
    font-weight: 900;
}

.cakes{
    position: relative;
}

.cakeMenu{
    background-color: var(--var--green3);
    display: inline-block;
    font-size: 2rem;
    color: white;
    padding: 1rem 10rem 1rem 4rem;
    border-radius: 10rem;

    position: absolute;
    left: -18rem;
    top: 15rem;
}

.cakeBG{
    width: 25rem;

}

.whiteCake{
    width: 25rem;
    border-radius: 50%;
    position: absolute;
    left: -1rem;
    
}



